h1 {
    color: green;
}


 .fat-border {
  padding: 10px;

  display: block;
  border: 6px solid green;
   border-radius: 40px;
  width: max-content;


}

 .fun-border {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  border: 2px solid green;
  border-radius: 40px;
  /* width: max-content; */
}

.ul-navigation{
     list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.ul-navigation li{
  display: inline;
  float: center;

}

.ul-navigation li a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ul-navigation li a:hover {
  background-color: #050;
}

