<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create note</title>

</head>
<body>
<h1>Here will be form</h1>
    <form action={{ send_data_to}} method="post">
      <label for="title">Task title:</label><br>
      <input type="text" id="title" name="title" value="Play CM like pro"><br>
      <label for="comment">Comment:</label><br>
      <input type="text" id="comment" name="comment" value="Forst demon"><br>
      <label for="body">Body:</label><br>
      <input type="text" id="body" name="body" value="little"><br><br>
      <input type="submit" value="Submit">
    </form>
</body>
</html>