

{% extends "BaseTemplate.html" %}
{% block content %}
<div class="form-create-note-container">
    <form action={{ send_data_to}} method="post">

      <input required class="input-pararm" type="text" id="title" name="title" placeholder="Заголовок"><br>

      <textarea required class="input-pararm" id="body" name="body" rows="4" cols="50" placeholder="Задача"></textarea><br>

        <button required class="btn" type="submit" value="Submit">Добавить задачу</button>

    </form>
    </div>
{% endblock %}