<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login success</title>
    <h1>Успешный вход. Теперь вы можно</h1>

<h1>Посмотреть задачи:</h1>
<a href="{{request.host}}/notes/b">Новые</a>
<a href="{{request.host}}/notes/w">В работе</a>
<a href="{{request.host}}/notes/e">Закрытые</a>
    <!-- <li><a href="q">Quited</a></li>-->
<a href="{{request.host}}/notes/add">&nbsp;&nbsp;+&nbsp;&nbsp;</a>

    <a href="{{request.host}}/notes/add">Или создать новую задачу</a>


</head>
<body>

</body>
</html>