<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Look at my <ins>{{ notes[0].status }}</ins> notes:</h1>


    <table>

        {% for note in notes %}
            {% if  loop.index%2 ==1 %} <tr> {% endif %}
            <td><div class="fun-border">
            <h1><a href="{{url_for_notes+note.id|string}}">{{ note.title }}</a></h1>
            <h2>{{ note.comment }}</h2>
            <h2>{{ note.body }}</h2>
            </div>
                </td>
        {% if  loop.index %2 ==0 %} </tr> {% endif %}



        {% endfor %}

    </table>

</body>
</html>