{% extends "BaseTemplate.html" %}
{% block content %}
        {% for note in notes %}
<!--
            <div class="fun-border">


                <a class="fill-div" href="{{url_for_notes+note.id|string}}">
                    <h1>{{loop.index}}.&nbsp;{{ note.title }}&nbsp;[{{note.author}}{% if note.executor %} ⟶ {{note.executor}}{% endif %}]</h1><!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Author: ->
                <h2>{{ note.body }}</h2>
                <!-{{note.start_date.strftime("%d.%m.%y %H:%M")}}   ->
                </a>
            </div>
-->


     <h1>{{loop.index}}.&nbsp;<a href="{{url_for_notes+note.id|string}}">{{ note.title }}</a></h1>
    <h4>{{note.start_date.strftime("%d.%m.%y %H:%M")}} : {{note.author}}</h4>
     <hr/>

        {% endfor %}

{% endblock %}